  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta name="referrer" content="never">
  <meta name="keywords" content="北极边界安全,北极边界安全团队,npsc网络空间实验室">
  <meta name="description" content="<%- site.customConfig.metaDescription || themeConfig.siteDescription %>" />
  <meta name="author" content="天析">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title><%= siteTitle %></title>

  <link href="<%= themeConfig.domain %>/styles/main.css" rel="stylesheet">
  <script>hljs.initHighlightingOnLoad();</script>
  <%if(site.customConfig.ga){%>
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.customConfig.ga %>"></script>
  <script>window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag('js', new Date());
    gtag('config', '<%= site.customConfig.ga %>');</script>
  <%}%>

  <script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
  </script>

<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: '<% ['cy-appid'].forEach((item) => { %><% if (site.customConfig[item]) { %><%= site.customConfig[item] %><% } %><% }) %>',
conf: '<% ['cy-conf'].forEach((item) => { %><% if (site.customConfig[item]) { %><%= site.customConfig[item] %><% } %><% }) %>'
});
</script>